@font-face {
    font-family: 'RedHat';
    src: url('../fonts/red-hat.woff2') format('woff2'),
     url('../fonts/red-hat.woff') format("woff"),
     url('../fonts/red-hat.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Important';
    src: url('../fonts/important.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
  }